# Auto detect text files and perform LF normalization
* text=auto
Frontend/subject_027_cxr filter=lfs diff=lfs merge=lfs -text
*.nii.gz filter=lfs diff=lfs merge=lfs -text
Frontend/CT-Thorax-03192/*.dcm filter=lfs diff=lfs merge=lfs -text
